.header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.title {
  display: flex;
  color: maroon;
  text-align: center;
  font-size: 60px;
  margin-top: 150px;
  margin-left: 30px;
  margin-bottom: 100px;
  /* text-shadow: 15px 10px 0 #ccc; */
  justify-content: center;
  align-items: center;
}

.img {
  width: 200px;
  height: 230px;
  margin-left: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  color: aliceblue;
  font-weight: bolder;
  padding: 15px 10px;
  background: rgb(159, 65, 65);
  font-size: 25px;
  letter-spacing: 15px;
  text-decoration: none;
  margin-left: 40%;
  font-size: 450%;
  box-shadow: 8px 8px 0 #bbb;
  justify-content: center;
  align-items: center;
}
