.header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.title {
  display: flex;
  color: maroon;
  text-align: center;
  font-size: 45px;
  margin-top: 8%;
  margin-left: 20%;
  /* justify-content: center;
  align-items: center; */
}

.img {
  width: 200px;
  height: 300px;
  margin-left: 10%;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  background: rgb(170, 95, 95);
  color: aliceblue;
  width: 200px;
  padding: 5px 15px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 15px;
  text-decoration: none;
  margin-left: 40%;
  /* justify-content: center;
  align-items: center; */
  font-size: 350%;
}
